.ui.basic.segment.no-horizontal-padding.white-background.recruitment-lists-segment
    .ui.grid.stackable
        .row
            .column.sixteen.wide
                h1.ui.small.header
                    = @ranking.name

        - if @ranking_entry_users.present?
            - @ranking_entry_users.each.with_index(1) do |user, rank|
                .row.content-list: .column class="#{"login-users-ranking" if current_user && current_user == user}"
                    div class="rank rank-#{rank}"= "#{rank}位"
                    .user-display= "#{user.name}さん"
                    .point-display= "(#{user.activities.from_particular_time_range(@ranking.start_at, @ranking.end_at).total_obtained_experience_point}ポイント)"
        - else
            .row.content-list: .column
                .nothing-yet まだ参加者がいません。

scss:
    .entry-number {
        display: inline;
        margin-left: 10px;
        font-size: 15px;
        color: #999;
    }
    .login-users-ranking {
        background: #fff0fb !important;
    }
    .rank {
        display: inline;
        font-size:15px;
        font-weight: bold;
    }
    .rank-1, .rank-2, .rank-3 {
        font-size: 20px;
    }
    .rank-1 {
        color: #FFD700;
    }
    .rank-2 {
        color: #C0C0C0;
    }
    .rank-3 {
        color: #C47222;
    }
    .user-display {
        display: inline;
        margin-left: 5px;
    }
    .point-display {
        display: inline;
        margin-left: 5px;
        font-size: 12px;
        color: #999;
    }