$tinyFontSize: 7px;
$smallFontSize: 10px;
$mediumFontSize: 13px;
$largeFontSize: 16px;
$hugeFontSize: 19px;

.tiny-font {
    font-size: $tinyFontSize;
}
.small-font {
    font-size: $smallFontSize;
}