// Place all the styles related to the Blog::Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "common_styles";

// common styles

// styles for index page
.blog-article-list {
    + .blog-article-list {
        border-top: 1px solid $borderLightGray;
    }
}
nav.bottom-right-create-nav-button#create-article-button {
  background: $orange;
}
.small-font {
    font-size: 10px;
}
.sub-info {
  @extend .small-font;
  margin-top: 5px;
  color: $fontGray;

  span + span {
    margin-left: 10px;
  }

  i {
    margin-right: 2px !important;
  }
}
.go-to-icon {
  position: absolute;
  top: 40%;
  right: 5px;
  color: $fontLightGray;
}

// styles for show page

// styles for new page

// styles for edit page
