// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item.active {
  background: #fff !important;
  font-weight: bold !important;
}

input[type=checkbox] {
  display: none;
}
.check_css {
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
  display: inline-block;
  padding: 0 0 0 36px;
  vertical-align: middle;
  cursor: pointer;
}
.check_css:hover:after {
  border-color: #F2711C;
}
.check_css:after {
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  position: absolute;
  top: 50%;
  left: 5px;
  display: block;
  margin-top: -10px;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 4px;
  content: '';
}
.check_css:before {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 11.2px;
  display: block;
  margin-top: -7px;
  width: 5px;
  height: 10px;
  border-right: 3px solid #F2711C;
  border-bottom: 3px solid #F2711C;
  content: '';
  opacity: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type=checkbox]:checked + .check_css:before {
  opacity: 1;
}
