/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import 'semantic-ui';

body {
  background: #F5F4F5;
}
nav.bottom-right-create-nav-button {
    display: block;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    color: #fff;

    i {
        color: #fff;
        padding: 0 0 0 3px;
        margin: 0;
    }
}
.no-default-link-style {
  text-decoration: none;
  color: #212121
}
.site-logo {
  height: 50px;
  margin-top: 5px;
}
.site-logo-for-mobile {
  height: 40px;
  margin-top: 5px;
}
.pusher {
  background: #F5F4F5 !important;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.pusher > .footer {
  flex: 1;
}
section.main {
  background: #F5F4F5;
  margin: 4.7em 0 3em 0;
}
.column.without-right-padding {
  padding-right: 0 !important;
}
.item.active {
  background: #fff !important;
  font-weight: bold !important;
}
.bg-white {background: #fff !important;}
.omit-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}
.break-word {
  word-wrap: break-word;
}
.hidden {
  display: none;
}
.pagination-current-page-button {
  background: #F2711C !important;
  color: #fff !important;
  cursor: default !important;
}
html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}
#bottom-fixed-button {
  z-index: 5;
  position: fixed;
  bottom: 25px;
  right: 20px;
}
.comment + .comment {
  border-top: 1px solid #eee !important;
}
