// Place all the styles related to the Counters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "common_styles";

.count {
  font-size: $hugeFontSize;
  font-weight: bold;
  color: $fontExtraDarkGray;
  text-align: center;
  padding: 10px 0;
  font-family: Areal, verdana;

  span {
    margin: 0 35px;
  }
  .circular.button {
    margin: -5px 0 0 0;
  }
}
