// Place all the styles related to the Recruitments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#recruitment-owner-profile-name {
  text-decoration: none;
  color: #212121
}
.ui.modal {
    position: relative !important;
    top: auto;
    left: auto;
}
.ui.dropdown > .menu {
  min-height: 150px !important;
}
