// Place all the styles related to the Recruitments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "common_styles";

// common styles
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
nav.bottom-right-create-nav-button#create-recruitment-button {
  background: $orange;
}



// styles for index page
.ui.modal {
    position: relative !important;
    top: auto;
    left: auto;
}
#prefecture-filter-modal > .menu {
  min-height: 150px !important;
}
.recruitment-information-container {
  display: none;
}
.sub-info {
  @extend .small-font;
  margin-top: 5px;
  color: $fontGray;

  span + span {
    margin-left: 10px;
  }

  i {
    margin-right: 2px !important;
  }
}
.go-to-icon {
  position: absolute;
  top: 40%;
  right: 5px;
  color: $fontLightGray;
}
.row.closed-alpha-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.25);

  span {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: -10px auto 0;
    color: rgba(255, 255, 255, 0.85);
    font-size: $extraLargeFontSize;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-align: center;
  }
}
#open-prefecture-filter-modal-button {
  display: inline;
  position: absolute;
  top: 0.7rem;
  right: 1rem;
}



// styles for show page
.updated-at-container {
    color: $fontLightGray;
    font-size: 12px;
    text-align: right;
}

// styles for new page

// styles for edit page
