// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tweet-menu-dropdown {
  z-index: 4;
  position: absolute;
  top: 20px;
  right: 20px;
}
