.ui.secondary.menu
  = link_to "プロフィール", profile_account_path(user), class: %(item orange #{activate_tab_if_correct_page("profile")})
  = link_to "募集一覧", recruitments_account_path(user), class: %(item orange #{activate_tab_if_correct_page("recruitments")})
  = link_to "つぶやき一覧", tweets_account_path(user), class: %(item orange #{activate_tab_if_correct_page("tweets")})
